.Advertisement{
    height:100px ;
    width: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel {
    width: 50%;
    height: 50%;
    background: #333;
    color: #fff;
  }